/* generelt */
header {
    position: absolute;
    width: 100%;
    min-height: 66px;
    background: rgba(90, 145, 8, 0.8);
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* To center the items vertically */
}

header nav {
    position: absolute;
    width: 30%;
    top: 66px;
    right: 10; /* Justerer plassering til høyre */
    background-color: rgba(37, 54, 11, 0.8);
    display: none; /* Legg til denne linjen for å skjule menyen som standard */
    transition: transform 0.3s ease; /* Legg til en overgangseffekt */
}

header nav ul li {
    list-style: none;
    position: relative;
    width: 100%;
    text-align: end;
}

header nav ul li a {
    color: #bfe0b4;
    font-size: 1.1rem;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a:hover {
    background: rgba(37, 54, 11, 0.8);
}

header nav.show {
    display: block; /* Legg til denne linjen for å vise menyen når klassen 'show' legges til */
    transform: translateY(0); /* Legg til en glidende animasjon når menyen vises */
}

.home {
    position: relative;
    width: 60px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: transparent; 
    border: none; 
    outline: none;
    color: rgba(28, 31, 25, 0.8);
    margin-left: 20px; 
}

.menu {
    color: rgba(28, 31, 25, 0.8);
    font-size: 30px;
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; 
    background-color: transparent; 
    border: none; 
    outline: none; 
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.submenu {
    display: none;
}

.show {
    display: block;
}

body {
    background-color: rgb(119, 176, 34, 0.8);
    margin: 0; 
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    font-family: "Amaranth", sans-serif;
}
 
footer {
    background-color:rgb(77, 120, 12);
    color: #ffffff9f;
    display: grid;
    grid-auto-flow: row;
    padding: 40px;
}

footer h4 {
    font-size: 1.1rem;
}

footer  a {
    color: #ffffff9f;
}


/* index.html css */
.top-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.top-container .text h1{
    color: #1b401c;
    font-size: 6.25rem;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bird{
    height: 150px;
    width: auto;
    margin-left: 20px;
    border:none;
}

.play1 {
    font-size: 2.5rem;
    font-family: "Amaranth", sans-serif;
    background-color: #329f36; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    max-width: 150px;
    margin: 40px auto;
    margin-bottom: 70px;
    padding: 10px 20px;
}

.play1 a {
    color: white; 
    text-decoration: none; 
}

.play1:hover {
    transition: .2s;
    transform: scale(1.1);  
}

.guide{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.guide1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: relative; 
}

.guide-img {
    width: 100%;
    height: auto;
    opacity:1;
    transition: .5s ease;
    backface-visibility: hidden;
    display: block;
    width: 250px;
    height: auto;
    transition: .5s ease;
    border: solid rgb(28, 65, 28) 2px;
}

.guide1:hover .guide-img{
    opacity: 0.3;
}

.guide1:hover .overlay{
    opacity: 1;
}

.overlay{
    position: absolute;
    transition: .5s ease;
    opacity:0;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #132f14;
    color: #bfe0b4;
    font-size: 1rem;
    padding: 10px;
}

.guide-p{
    text-align:center;
    color: #1b401c;
    font-weight: 200;
    font-size: 20px
}
 


/* about.html css */
#aboutTitle {
    font-size: 5rem;
    margin: 20px 0;
}

/* .text2 h1{
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 100px;
    margin: 0; 
    color: #1b401c;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7%;  
} */

.flappybird-intro{
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-bottom: solid rgb(28, 65, 28) 2px;
}

.aboutUs-intro {
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-bottom: solid rgb(28, 65, 28) 2px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 7% 15%;  
}

#aboutFlappybird {
    margin: 10px 0 50px 0;
    font-size: 1.2rem;
}

#aboutUs {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}   

#aboutUs p {
    max-width: 350px;
    margin: 0;
}

.selfie {
    object-fit: cover;
    width: 400px;
    margin: auto 0;
    border: solid rgb(28, 65, 28) 2px;
    border-radius: 5%;
}

#conclusion {
font-size: 1.2rem;
}

/* gameover.html css */
.gameoverSite {
    padding: 0;
    content: '';
    background-image: url(../Bilder/backgroundphoto.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    margin: 0; 
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    font-family: "Amaranth", sans-serif;
}

.text3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 7%;
}

.text3 h1 {
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 60px;
    margin: 0;
    margin-top: 10px;
    color: #132f14;
}

.text3 h2{
    margin: 30px 0;
    margin-bottom: 0;
    font-size: 8.5rem;
    color: #ff0000d8;
    text-shadow: 2px 2px #000000;
}

.text3 h3{
    margin-top: 0px;
    font-size: 1.8rem;
}

.play3 {
    font-size: 1.5rem; 
    padding: 15px 30px; 
    background-color: #329f36; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-decoration: none;
    margin: 60px auto;
    text-align:center;
    max-width: 200px;;
}

.play3:hover {
    transition: .2s;
    transform: scale(1.1);  
}

.play3 a {
    color: white; 
    font-family: "Amaranth", sans-serif;
    text-decoration: none; 
}



/* media query */
@media (max-width: 1050px) {
    /* .text2 h1{
        font-size: 10rem;
    } */
    
    #aboutUs {
        grid-gap: 20px;
    }

    .selfie {
        width: 350px;
        }
}

@media (max-width: 750px) {
    .guide-img {
        max-width: 250px;
        margin-bottom: 35px;
    }
    .guide{
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .top-container .text h1  {
        margin-top: 13%;
        font-size: 60px;
    }

    .bird{
        height: 100px;
        width: auto;
        margin: none;
        margin-left: 5%;
        margin-right: 3%;
        margin-top: 10%;
    }
}

@media (max-width: 450px) {
    header nav ul {
        padding: 0;
        margin: 0;
    }

    .guide-p {
        margin: 0 30px;
        margin-bottom: 20px;
    }
    .top-container .text h1{
        margin-top: 30%;
        font-size:30px;
    }

    .bird {
        height: 50px;
        width: auto;
        margin-top: 10%;
        margin-left: 5%;
    }

    #about {
        margin: 30px;
    }

    #aboutTitle {
        font-size: 4rem;
        margin-top: 50px;
        margin-bottom: 0;
    }

    #aboutUs {
        grid-template-columns: 1fr;
        justify-content: center;
        margin: auto;
    }

    .selfie {
        width: 300px;
        margin: auto;
    }

    .text3 {
        padding: 40px;
    }

    .gameOVER {
        font-size: 6.9rem;
    }

}